/* .apresentation{
    display: flex;
    justify-content: center;
    padding: 5% 0%;

}

.img-fluid{
    width: 50%;
    height: auto;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 10%;
}
.menu{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 0% 25%;
} */
