
{% extends "base.html" %}
{% block content %}
    <section class="menu">
      <div class="container mb-3">
        <div class="row g-2">
          <div class="col-12 pt-3 titulo_tabelas text-light text-center">
            <h6>Regulamento</h6>
          </div>
          <hr class="border border-secondary-subtle border-1 mt-0 mb-0">
          <div class="col-12 pt-4 titulo_tabelas text-light">
            {{ texto_regulamento | safe }}
          <div class="col-12">
            <a href="principal" class="btn btn-danger  w-100">Voltar</a>
          </div>
        </div>
    </section>
{% endblock %}
