{% extends "base.html" %}
{% block content %}
    <section class="menu">
      <div class="container mb-3">
        <div class="row g-2">
          <div class="col-12 pt-3 titulo_tabelas text-light text-center">
            <h6>Tabela Bolão</h6>
          </div>
          <hr class="border border-secondary-subtle border-1 mt-0 mb-0">
          <div class="col-12 pt-4">
            <table class="table table-striped table-hover w-100">
              <thead>
                <tr>
                  <th scope="col">Posição</th>
                  <th scope="col">Pontos</th>
                  <th scope="col">Usuario</th>
                </tr>
              </thead>
              <tbody>
                {% for jogador in dados_bolao %}
                <tr>
                    <th scope="row">{{ jogador.posicao }}</th>
                    <td>{{ jogador.pts }}</td>
                    <td>{{ jogador.usuario }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
         
          <div class="col-12">
            <a href="principal" class="btn btn-danger  w-100">Voltar</a>
          </div>
        </div>
    </section>
  </main>
{% endblock %}